<h1 class="center text_size header_top_buffer">Общая статистика</h1>
<div class="container bg-light cont_paddings col-sm-12 col-md-12">
  <div>Всего уникальных посетителей: <%= @all_visits_uniq %>.</div>
  <div>Всего повторных визитов: <%= @all_visits_repeat %>.</div>
</div>