<%= breadcrumbs [t('views.home.announces.header'), root_path], [t('views.articles.index.header'), articles_path], [t('views.articles.new.header'), nil] %>

<div class="container main_bg_color rounded_corners">
  <div class="row mt-3">
    <div class="col-sm-12 col-md-10">
      <%= render 'form', article: @article %>
    </div>
  </div>
</div>
