<div class="py-0 mb-3 hashtags-container">
  <% entity.hashtags.each do |hashtag| %>
    <%= link_to "##{ hashtag.name }", by_hashtag_path(q: hashtag.name), class: "hashtag_badge" %>
  <% end %>
</div>
