<h1 class="center">Редактирование</h1>
<div class="container bg-light">
  <div class="row mt-3">
    <div class="col-sm-12 col-md-10">

      <%= render 'form', about: @about %>

      <%= link_to 'Show', @about %> |
      <%= link_to 'Back', abouts_path %>
      
    </div>
  </div>
</div>
