<h1 class="center text_size header_top_buffer"><%= t('views.abouts.show.title') %></h1>
<div class="container bg-light">
  <div class="row mt-3">
    <%= raw(@about.main_text) %><br>
  </div>

  <% if current_user %>
    <%= link_to t('views.abouts.index.edit'), edit_about_path(@about), class: 'btn btn-sm btn-primary my-2 ml-md-5'%>
  <% end %>
</div>
