<div class="buffer-both mx-1">
  <%= link_to image_tag(photo.photo.thumb.url, title: photo.description), photo.photo.url%><br>
  <br>
  <%= link_to 'Show |', photo.photo.url if user_signed_in? %>
  <%= link_to 'Edit |', edit_photo_path(photo) if user_signed_in? %>
  <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } if user_signed_in? %>
</div>
