<h1 class="text_size"><%= t('views.photos.edit.header') %></h1>

<%= render 'form', photo: @photo %>

<%= link_to "#{t('views.photos.show.show')} | ", @photo.photo.url %>
<%= link_to t('views.photos.show.back'), photos_path %>
