<%= breadcrumbs [t('views.home.announces.header'), root_path], [t('views.photos.breadcrumb_for_photo'), all_page_path], [t('views.photos.edit.header'), nil] %>

<div class="container main_bg_color rounded_corners">
  <div class="row mt-3">
    <div class="col-sm-12 col-md-10">
      <%= render 'form', photo: @photo %>

      <%= link_to "#{t('views.photos.show.show')} | ", @photo.photo.url, target: '_blank', rel: 'nofollow' %>
      <%= link_to t('views.photos.show.back'), :back %>
    </div>
  </div>
</div>
