<h1 class="center">Форма обратной связи</h1>
<div class="container bg-light">
  <div class="row justify-content-center">
    <div class="col-8 mb-2">
      <%= render 'feedback_form', feedback: @feedback %>
    </div>
  </div>
</div>
