<h1 class="center">Форма обратной связи</h1>
<div class="container bg-light">




    <div class="row justify-content-center">
      <div class="col-8">
    <%= render 'feedback_form', feedback: @feedback %>
    <%= link_to 'Back', root_path %>
  </div>
</div>
</div>