<h1>Photos</h1>

<!-- <table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @photos.each do |photo| %>
      <tr>
        <td>
          <div class="row">
            <%#= render partial: 'photos/photo', collection: current_user.photos %>
          </div>

        <%#= photo.description %>
        <%#= link_to 'Show', photo %> |
        <%#= link_to 'Edit', edit_photo_path(photo) %> |
        <%#= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <%# end %>
  </tbody>
</table> -->

          <div class="row">
            <%= render partial: 'photos/photo', collection: @photos %>
          </div>

<br>
