<%= breadcrumbs [t('views.home.announces.header'), root_path], [t('app.navbar.menu.admin_options'), nil], [t('app.navbar.menu.map_countries'), nil] %>

<div id="map"></div>

<script>
  $(function(){

    const map = L.map('map', {
      attributionControl: true // Включаем контроль
    }).setView([40, 40], 3);

    // Настройка атрибуции
    map.attributionControl
      .setPrefix('')
      .addAttribution('© <a href="https://leafletjs.com">leaflet</a>')
      .addAttribution('© <a href="https://openstreetmap.org">OpenStreetMap</a> contributors');

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 18,
    }).addTo(map);

    // Функция для добавления точек на карту
    function addMarkersToMap(data) {
      data.features.forEach(feature => {
        let coords = feature.geometry.coordinates;
        let properties = feature.properties;

        // Создаем маркер
        let marker = L.marker([coords[0], coords[1]]);

        // Создаем содержимое popup
        let popupContent = `
          <div class="custom-popup">
            <div style='width:100px; font-size:80%'>${ properties.hintContent }</div>
            ${ properties.photo_img }
          </div>
        `;

        // Добавляем всплывающее окно с содержимым
        marker.bindPopup(popupContent, { closeButton: true });

        // Добавляем маркер на карту
        marker.addTo(map);
      });
    }

    // Вызываем функцию для добавления точек
    addMarkersToMap(<%= raw @show_marks %>);

  });
</script>
