<h1 class="center text_size header_top_buffer"><%= t('views.photos.new.header') %></h1>
<div class="container bg-light">
  <div class="row justify-content-center">
    <div class="col-8 mb-2">

      <%= render 'form', photo: @photo %>

    </div>
  </div>
</div>