<h1 class="center text_size header_top_buffer"><%= @header %></h1>

<div class="row gallery_img_borders gallery gallery_top_buffer">
  <%= render partial: 'photos/photo', collection: @photos %>
</div>
<br>

<script>
  function getLastDayOfMonth() {
    let currentDate = new Date();
    let lastDayDate = new Date(currentDate.getFullYear(), currentDate.getMonth() + 1, 0, 23, 59, 59);

    return lastDayDate;
  };

  function deleteAllCookies() {
    if (localStorage.getItem('_rs_uniq_exp')) {
      let uniq_exp_date = localStorage.getItem('_rs_uniq_exp');

      if (Date.parse(uniq_exp_date) <= new Date()) {
        localStorage.removeItem('_rs_visitor');
        localStorage.removeItem('_rs_uniq_exp');
      };
    }
  };

  function getData() {
    let visitor = false;

    if (!localStorage.getItem('_rs_visitor')) {
      $.ajax({ 
        dataType: "json", async: false, url: "http://ip-api.com/json", success: (function(data) { 
          if(data.status == "success") {
            InfObj = {
                      country: data.country, 
                      regionName: data.regionName, 
                      lat: data.lat, 
                      lon: data.lon, 
                      timezone: data.timezone
                     }

            visitor = sendData(InfObj);
          }

          if (visitor) { 
            $.ajax({ url: '/get_data', data: { visitor: visitor }});
          }
        })
      });
    }
    else if (localStorage.getItem('_rs_visitor')) { 
      $.ajax({ url: '/get_data', data: { visitor: { 'repeat_visitor': { time_visited: new Date() }}}});
    }
  };

  function sendData(InfObj) {
    let uniq_visitor;
    let repeat_visitor;

    if (!localStorage.getItem('_rs_uniq_exp')) {
      localStorage.setItem('_rs_uniq_exp', getLastDayOfMonth());

      localStorage.setItem('_rs_visitor', new Date());

      uniq_visitor = {
        time_visited: new Date(),
        page_name(){ return window.location.pathname },
        referrer(){ return document.referrer },
        browser_name(){ return navigator.appName },
        browser_language(){ return navigator.language },
        browser_platform(){ return navigator.platform },
        size_screen_w(){ return screen.width },
        size_screen_h(){ return screen.height },
        country: InfObj.country, 
        region_name: InfObj.regionName, 
        lat: InfObj.lat, 
        lon: InfObj.lon, 
        timezone: InfObj.timezone,
        // timezone:(new Date()).getTimezoneOffset()/60,
        // browserVersion1a(){ return navigator.appVersion },
      };
    }

    return { 'uniq_visitor': uniq_visitor }
  };

  $(function(){
    deleteAllCookies();

    getData();
  });
</script>
