<%= breadcrumbs [t('views.home.announces.header'), root_path], [t('views.photos.breadcrumb_for_photo'), nil], [@header, nil] %>

<div class="row gallery_img_borders gallery gallery_top_buffer">
  <%= render partial: 'photos/photo', collection: @photos %>
</div>
<div class="container">
  <div class="d-flex justify-content-center">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</div>
