<h1 class="center text_size header_top_buffer"><%= @header %></h1>

<div class="row gallery_img_borders gallery gallery_top_buffer">
  <%= render partial: 'photos/photo', collection: @photos %>
</div>
<br>
