<h1 class="center text_size header_top_buffer"><%= @header %></h1>
<div class="row gallery_img_borders gallery gallery_top_buffer">
  <%= render partial: 'photos/photo', collection: @photos %>
</div>
<div class="pagy-bottom"><%== pagy_bootstrap_nav(@pagy) if @pagy && @pagy.pages > 1 %></div>
