<h1 class="center text_size header_top_buffer"><%= @header %></h1>

<div class="row gallery_img_borders gallery gallery_top_buffer">
  <%= render partial: 'photos/photo', collection: @photos %>
</div>
<br>

<script>
  function getLastDayOfMonth() {
    let currentDate = new Date();
    let lastDayDate = new Date(currentDate.getFullYear(), currentDate.getMonth() + 1, 0, 23, 59, 59);

    return lastDayDate;
  };

  function deleteAllCookies() {
    if (localStorage.getItem('_rs_uniq_exp')) {
      let uniq_exp_date = localStorage.getItem('_rs_uniq_exp');

      if (Date.parse(uniq_exp_date) <= new Date()) {
        localStorage.removeItem('_rs_visitor');
        localStorage.removeItem('_rs_uniq_exp');
      };
    }
  };

  function getData() {
    let visitor;
    let visitor_data;

    $.ajax({ 
      dataType: "json", async: false, url: "http://ip-api.com/json", success: (function(data) { 
        if(data.status == "success") {
          InfObj = {
                    country: data.country, 
                    regionName: data.regionName, 
                    lat: data.lat, 
                    lon: data.lon, 
                    timezone: data.timezone
                   }

          visitor_data = sendData(InfObj);

        }

        // Проверка на унакального пользователя
        if (localStorage.getItem('_rs_visitor')) {
          visitor = {'repeat_visitor': true}
        }
        else {
          visitor = {'uniq_visitor': true}
        }

        // Установка кукисов
        if (!localStorage.getItem('_rs_uniq_exp')) {
          localStorage.setItem('_rs_uniq_exp', getLastDayOfMonth());

          localStorage.setItem('_rs_visitor', new Date());
        }

        if(visitor_data) {
          
          visitor['visitor_data'] = visitor_data;
        }

        $.ajax({ url: '/get_data', data: { visitor: visitor }});
      })
    });
  };

  function sendData(InfObj) {
    let visitor_data;

    visitor_data = {
      time_visited: new Date(),
      page_name(){ return window.location.pathname },
      referrer(){ return document.referrer },
      browser_name(){ return navigator.appName },
      browser_platform(){ return navigator.platform },
      size_screen_w(){ return screen.width },
      size_screen_h(){ return screen.height },
      country: InfObj.country, 
      region_name: InfObj.regionName, 
      lat: InfObj.lat, 
      lon: InfObj.lon, 
      timezone: InfObj.timezone,
      // timezone:(new Date()).getTimezoneOffset()/60,
      // browserVersion1a(){ return navigator.appVersion },
      // browser_language(){ return navigator.language },
    };

    return visitor_data;
  };

  $(function(){
    deleteAllCookies();

    getData();
  });
</script>
