logo {
    opacity: .4;
    position: absolute;
    top: 0;
    padding: 3px 1px 0 3px;
    margin-left: -50px;
}

.logo {
  width: 40px;
  height: auto;
}

.headername {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    position: absolute;
    padding: 160px 1px 0 14px;
    z-index: 8;
    text-decoration: none;
    color: black;
    outline: none;
}

.header img{
    opacity: .15;
    position: absolute;
    width: 100%;
}

.lang {
  margin-left: 40px;
  opacity: .5;
  width: 30px;
}

.zoom {
  overflow: hidden;
}
.zoom img {
  display: block;  /* Убираем отступ снизу */
  transition: .2s; /* Время перехода */
}

.zoom img:hover {
  transform: scale(1.07);
}

.center {
  text-align: center;
  margin-top: -3px;
}

.row {
  justify-content: center;
}

.margins-images {
  margin: 3px, 2px, 3px, 2px;
  padding: 3px;
}

.footer {
  text-align: center;
  padding: 1px 0px 5px 0px;
  font-size: 60%;
  color: grey;
  background-color: #dadada;
  clear: both;
  margin-bottom: 10px;
}

.dackbottomicons p{
    margin-top: 3px;
    margin-bottom: 3px;
}

.dackbottomicons a{
    opacity: 0.5;
}

.dackbottomicons-range {
    padding-right:4px;
    padding-left: 7px;
    padding-bottom: 3px;
}

.dackbottomicons a:hover {
    opacity: 1;
}

.drop_down_button_my {
  display: block;
}

.selected {
    font-weight: bold;
    color: #afafaf;
    cursor: default;
}

.buffer-top {
margin-top: 8px;
padding-top: 5px;
}

.buffer-bottom {
margin-bottom: 8px;
}

.gallery img {
  /* max-width: 100%; */
  height: 300px;
  width: 100%;
}

.gallery_img_borders {
  margin-left: -2px;
  margin-right: -2px;
}

#menu_pic, .menu_close_img {
  display: none;
}

.my_color {
  background-color: transparent;
}

.my_height {
  height: 380px !important;
}

.my_dropdown_item {
  display: block;
}

.bottom_line {
  border-bottom: 1px solid black;
  padding-top: 8px;
}

.comment_color {
  background-color: #e1e6ea;
}

.locale_class_na {
  display: none;
}

.prohibited {
  width: 84px;
  padding-left: 0;
}

.warn_ru_size {
  width: 84px;
  padding-left: 0;  
}

.warn_en_size {
  width: 79px;
  padding-left: 0;  
}

@media (max-width: 991px) {
  .drop_down_button_my {
    display: none;
  }

  .menu_close_img {
    position: absolute;
    z-index: 1000;
    top: 18px;
    right: 10px;    
  }

  .my_control {
    display: block;
    border: none;
    padding: 0;
  }

  .gallery img {
    width: 500px;
    height: 100%;
  }

  .gallery_top_buffer {
    margin-top: 16px;
  }

  .header_top_buffer {
    margin-top: 10px;
  }

  .logo_my_class {
    display: none;
  }

  .my_font_size {
    font-size: 120%;
  }

  .my_dropdown_item {
    display: block;
    padding-left: 13px;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .remove_padding {
    padding: 0 0 0 0;
  }

  .flag_position {
    padding: 0 0 0 0;
    margin: 0 0 0 0;    
  }

  .text_size {
    font-size: 120%;
  }

  .my_height {
    height: 220px !important;
  }

  #menu_pic {
    display: block;
    position: absolute;
    z-index: 1000;
    top: 2px;
    left: 1px;
  }
}
