<h1 class="center text_size header_top_buffer"><%= t('views.chatbots.header') %></h1>
<div class="container bg-light">
  <div class="row mt-3">
    <div class="col-sm-12 col-md-10">
      <%= render 'form', chat_bot_topic: @chat_bot_topic %>
    </div>
  </div>
</div>
